body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:antiquewhite;
}    

/* HEADER STYLES */
header {
    width: 100%;
    background-color: olivedrab;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    gap: 20px;
    box-shadow: 2px 4px 4px rgba(0,0,0,25%);
}

header svg {
    width: 60px;
    height: auto;
}

header svg path {
    fill: currentColor;
}

/* BOOKSHELF STYLES */
.bookshelf {
    max-width: 100vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 1px;
    border: 1px solid black;
}

/* BOOK STYLES */
.book {
    width: 75px;
    height: 250px;
    background-color: rosybrown;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow:hidden;   
    white-space: nowrap;
    text-overflow: ellipsis;
}

.basicBookInfo {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 100%;
    padding-left: 20px;
    height: 66%;
    margin-top: 5px;
}

.title {
    font-weight: bolder;
    font-size: 1.2rem;
}

.author {
    font-size: 1.1rem;
}

.genre {
    font-weight: bold;
}

.date{
    margin-top: -10px;
}

.extraBookInfo {
    margin-top: 40px;
    justify-self: flex-end;
    height: 33%;
    width: 100%;
}

.basicBookInfo, .extraBookInfo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    text-align: center;
}

.book:hover {
    cursor: grab;
}


/* FORM STYLES */
#container, #form, form {
    display: flex;
    flex-direction: column;
}

#container {
    background-color: rgba(0,0,0,4%);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 100px;
    position: fixed; 
    z-index: 1000;
    border: 1px solid black;
    visibility: hidden;    
    justify-content: center;
    align-items: center;
}

#form {
    background-color: white;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,25%);
    margin: auto;
    justify-content: center;
    align-items: center;
}

#form p {
    margin-top: -5px;
    font-size: 1.5rem;
    font-weight: bold;

}

#addBook {
    height: 30px;
    width: 80px;
    background-color: olivedrab;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    margin-right: 5px;
}

form button:hover {
    cursor: pointer;
}

form {
    row-gap: 10px;;
}


/* POP UP BUTTON STYLES */
#popUp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: olivedrab;
    color: antiquewhite;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,25%);
}

#popUp {
    cursor: pointer;
}